automation
[{"id":"d28a428e.49118","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Change Input Select (Stop)","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.irrigation_program","data":"{\"entity_id\":\"input_select.irrigation_program\",\"option\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":2980,"wires":[["5b8efa.af771108"]]},{"id":"5b8efa.af771108","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"3.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1330,"y":2980,"wires":[["4f727f08.32711","25838af3.f6b666","bef07da8.4489d","62ba27f4.308048","fbbe0a09.363b18"]]},{"id":"5c6bf676.53e468","type":"switch","z":"91c43a3c.eaf8c8","name":"on or off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":2980,"wires":[["d28a428e.49118"],[]]},{"id":"4f727f08.32711","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn on Input Boolean Zone 1","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.irrigation_program_zone1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":2860,"wires":[["3cac92a2.853fde"]]},{"id":"25838af3.f6b666","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn on Input Boolean Zone 2","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.irrigation_program_zone2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":2920,"wires":[["3cac92a2.853fde"]]},{"id":"bef07da8.4489d","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn on Input Boolean Zone 3","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.irrigation_program_zone3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":2980,"wires":[["3cac92a2.853fde"]]},{"id":"62ba27f4.308048","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn on Input Boolean Zone 4","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.irrigation_program_zone4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":3040,"wires":[["3cac92a2.853fde"]]},{"id":"fbbe0a09.363b18","type":"change","z":"91c43a3c.eaf8c8","name":"Automation Starting","rules":[{"t":"set","p":"payload","pt":"msg","to":"Automation Starting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":3100,"wires":[["133bca0a.81f406"]]},{"id":"5aa6ade7.2ad374","type":"bigtimer","z":"91c43a3c.eaf8c8","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Turn On 30mins Before Sunrise, Every Wednesday","comment":"","lat":"-27.627342","lon":"152.584724","starttime":"5003","endtime":"0","starttime2":"0","endtime2":0,"startoff":"-30","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":false,"tue":false,"wed":true,"thu":false,"fri":false,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":590,"y":2980,"wires":[["5c6bf676.53e468"],[],[]]},{"id":"3cac92a2.853fde","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1880,"y":2980,"wires":[["b61a9575.b4bb18"]]},{"id":"133bca0a.81f406","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["3b239f0a.91131"],"x":1715,"y":3100,"wires":[]},{"id":"b61a9575.b4bb18","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Change Input Select (60)","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.irrigation_program_runtime","data":"{\"entity_id\":\"input_select.irrigation_program_runtime\",\"option\":\"60\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2110,"y":2980,"wires":[["eee44cde.59dd4"]]},{"id":"eee44cde.59dd4","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2340,"y":2980,"wires":[["933f89b5.ccbee8"]]},{"id":"933f89b5.ccbee8","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Change Input Select (Start)","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.irrigation_program","data":"{\"entity_id\":\"input_select.irrigation_program\",\"option\":\"Start\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2580,"y":2980,"wires":[[]]},{"id":"613f67e5.e69a28","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
