flow
[{"id":"896f5236.8ef64","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 3 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":220,"wires":[[],["66f142a9.6bd1dc"]]},{"id":"bbf76868.32f678","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 2 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":160,"wires":[[],["896f5236.8ef64"]]},{"id":"66f142a9.6bd1dc","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 4 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":280,"wires":[[],["c4ad8e56.a324a"]]},{"id":"29944184.8f9b9e","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 1 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":100,"wires":[[],["bbf76868.32f678"]]},{"id":"c4ad8e56.a324a","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 5 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":340,"wires":[[],["c9649cd6.a69dc"]]},{"id":"297816df.93dd5a","type":"switch","z":"91c43a3c.eaf8c8","name":"Start","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Start","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":860,"wires":[["1b88f6db.1782f9","29944184.8f9b9e","94a9a784.d68b58"]]},{"id":"c9649cd6.a69dc","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 6 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone6","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":400,"wires":[[],["dbc361a5.57601"]]},{"id":"4fac5b3c.36e374","type":"server-state-changed","z":"91c43a3c.eaf8c8","name":"Start Irrigation Program","server":"613f67e5.e69a28","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.irrigation_program","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":580,"wires":[["2e585750.543cc8","297816df.93dd5a"]]},{"id":"1b88f6db.1782f9","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 1","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":900,"wires":[["1475f7e6.dd26f8"],["1b7f0f8.636eff1"]]},{"id":"94a9a784.d68b58","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":860,"wires":[["e9ff776c.4ff0d8"]]},{"id":"dbc361a5.57601","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":460,"wires":[["82bf173a.cd6668"]]},{"id":"2e585750.543cc8","type":"switch","z":"91c43a3c.eaf8c8","name":"Stop","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":580,"wires":[["b2132896.e814a8","8a39022a.48c87","9737eece.d52a4","f7781229.c08cc","ed608a2b.9c66e8","c4f2712c.8a2af","1f136ae9.e78085","685ba250.fd444c","3cbb492.52214b6","43a2f90b.402518","8c39eba.88cf518","b9b5f0a.6d3151","eb2a2504.8aa878","ed99f745.363dd8","c3e64857.fe5a88"]]},{"id":"1475f7e6.dd26f8","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn on Zone 1","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.irrigation_zone1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":900,"wires":[["ba1ad012.ea7ce","b77c7211.6e3b9"]]},{"id":"1b7f0f8.636eff1","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 2","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":1140,"wires":[["93449190.42e7"],["f3a0df28.df58a"]]},{"id":"52e0ef0d.a282e","type":"link in","z":"91c43a3c.eaf8c8","name":"","links":["e6f7acda.d2aee","b8bff2c4.a94fe","e7839be5.2c0ab8"],"x":75,"y":860,"wires":[["1b88f6db.1782f9"]]},{"id":"e9ff776c.4ff0d8","type":"change","z":"91c43a3c.eaf8c8","name":"Started","rules":[{"t":"set","p":"payload","pt":"msg","to":"Started","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":780,"wires":[["e5cfa3db.24506"]]},{"id":"82bf173a.cd6668","type":"change","z":"91c43a3c.eaf8c8","name":"No Zones Selected!","rules":[{"t":"set","p":"payload","pt":"msg","to":"No Zones Selected!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":520,"wires":[["e5cfa3db.24506"]]},{"id":"b2132896.e814a8","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Zone 6 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_zone6","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1570,"y":380,"wires":[["f83b6672.a69bb8"],[]]},{"id":"8a39022a.48c87","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Zone 5 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_zone5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1570,"y":320,"wires":[["736745e1.fee31c"],[]]},{"id":"9737eece.d52a4","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Zone 4 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_zone4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1570,"y":260,"wires":[["9e72334.4878dd"],[]]},{"id":"f7781229.c08cc","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Zone 3 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_zone3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1570,"y":200,"wires":[["779b5fe.82e75a"],[]]},{"id":"ed608a2b.9c66e8","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Zone 2 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_zone2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1570,"y":140,"wires":[["ec4ebc0.d616b48"],[]]},{"id":"c4f2712c.8a2af","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Zone 1 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_zone1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1570,"y":80,"wires":[["3c5664e6.42b2bc"],[]]},{"id":"1f136ae9.e78085","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 6 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone6","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1620,"y":740,"wires":[["e185b750.c63328"],[]]},{"id":"685ba250.fd444c","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 5 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1620,"y":680,"wires":[["46c665af.4b31fc"],[]]},{"id":"3cbb492.52214b6","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 4 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1620,"y":620,"wires":[["f102a71.34bb958"],[]]},{"id":"43a2f90b.402518","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 3 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1620,"y":560,"wires":[["9e9efb2f.9455c8"],[]]},{"id":"8c39eba.88cf518","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 2 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1620,"y":500,"wires":[["a0a8aae4.162b48"],[]]},{"id":"b9b5f0a.6d3151","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 1 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1620,"y":440,"wires":[["def10eaf.62dba"],[]]},{"id":"eb2a2504.8aa878","type":"change","z":"91c43a3c.eaf8c8","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":800,"wires":[["51ddf8df.b58958","c4a96fe.fc40c9","c7533e38.11d7c","1c729017.7685b","39828352.fe340c","4c824e2d.8c8fc","8e41aa24.41f608","2bc9f6da.32199a","94beabf3.734048","53cd832.91e787c","cfbdee63.1ed95","d8036f9d.b01bf"]]},{"id":"ed99f745.363dd8","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":620,"wires":[["b5bc8ffe.8511"]]},{"id":"c3e64857.fe5a88","type":"change","z":"91c43a3c.eaf8c8","name":"None","rules":[{"t":"set","p":"payload","pt":"msg","to":"None","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":720,"wires":[["4e65dd3b.333f14"]]},{"id":"ba1ad012.ea7ce","type":"ha-wait-until","z":"91c43a3c.eaf8c8","name":"Zone 1 Started","server":"613f67e5.e69a28","outputs":1,"entityId":"binary_sensor.zone_1_watering","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":680,"y":900,"wires":[["260ee1fb.7c393e"]]},{"id":"b77c7211.6e3b9","type":"change","z":"91c43a3c.eaf8c8","name":"waiting","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":860,"wires":[["87cd133b.f3657","826d6948.de0038"]]},{"id":"93449190.42e7","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn on Zone 2","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.irrigation_zone2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":1140,"wires":[["8bac1636.9df188","d4e60d88.88c9"]]},{"id":"f3a0df28.df58a","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 3","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":1380,"wires":[["b7f02028.b734d"],["e67ddd21.f44e2"]]},{"id":"3d5636cf.c1784a","type":"link in","z":"91c43a3c.eaf8c8","name":"","links":["7f149de0.77edf4"],"x":75,"y":1100,"wires":[["1b7f0f8.636eff1"]]},{"id":"e5cfa3db.24506","type":"ha-entity","z":"91c43a3c.eaf8c8","name":"Irrigation Program","server":"613f67e5.e69a28","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Node-RED Irrigation Program"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:calendar-arrow-right"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":770,"y":780,"wires":[[]]},{"id":"f83b6672.a69bb8","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Zone 6","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_zone6","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":380,"wires":[[]]},{"id":"736745e1.fee31c","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Zone 5","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_zone5","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":320,"wires":[[]]},{"id":"9e72334.4878dd","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Zone 4","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_zone4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":260,"wires":[[]]},{"id":"779b5fe.82e75a","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Zone 3","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_zone3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":200,"wires":[[]]},{"id":"ec4ebc0.d616b48","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Zone 2","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_zone2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":140,"wires":[[]]},{"id":"3c5664e6.42b2bc","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Zone 1","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_zone1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1760,"y":80,"wires":[[]]},{"id":"e185b750.c63328","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Input Boolean Zone 6","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.irrigation_program_zone6","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1910,"y":740,"wires":[[]]},{"id":"46c665af.4b31fc","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Input Boolean Zone 5","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.irrigation_program_zone5","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1910,"y":680,"wires":[[]]},{"id":"f102a71.34bb958","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Input Boolean Zone 4","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.irrigation_program_zone4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1910,"y":620,"wires":[[]]},{"id":"9e9efb2f.9455c8","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Input Boolean Zone 3","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.irrigation_program_zone3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1910,"y":560,"wires":[[]]},{"id":"a0a8aae4.162b48","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Input Boolean Zone 2","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.irrigation_program_zone2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1910,"y":500,"wires":[[]]},{"id":"def10eaf.62dba","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Input Boolean Zone 1","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.irrigation_program_zone1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1910,"y":440,"wires":[[]]},{"id":"51ddf8df.b58958","type":"countdown","z":"91c43a3c.eaf8c8","name":"","topic":"","payloadTimerStart":"","payloadTimerStartType":"nul","payloadTimerStop":false,"payloadTimerStopType":"date","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":true,"x":1750,"y":940,"wires":[["6f353327.3e874c","4407356a.9173ec"],["58d3ae1a.5d909"]]},{"id":"c4a96fe.fc40c9","type":"countdown","z":"91c43a3c.eaf8c8","name":"","topic":"","payloadTimerStart":"","payloadTimerStartType":"nul","payloadTimerStop":false,"payloadTimerStopType":"date","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":true,"x":1750,"y":1180,"wires":[["af9827d4.975ad8","9ea84347.f8b1f"],["c7aa68c.8a52998"]]},{"id":"c7533e38.11d7c","type":"countdown","z":"91c43a3c.eaf8c8","name":"","topic":"","payloadTimerStart":"","payloadTimerStartType":"nul","payloadTimerStop":false,"payloadTimerStopType":"date","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":true,"x":1750,"y":1420,"wires":[["af8d6906.7849a8","c4190520.ff1478"],["d71669b0.1d47b8"]]},{"id":"1c729017.7685b","type":"countdown","z":"91c43a3c.eaf8c8","name":"","topic":"","payloadTimerStart":"","payloadTimerStartType":"nul","payloadTimerStop":false,"payloadTimerStopType":"date","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":true,"x":1750,"y":1660,"wires":[["1ee5ba65.be06b6","b9bc6baf.c770a8"],["54441cc3.d6c404"]]},{"id":"39828352.fe340c","type":"countdown","z":"91c43a3c.eaf8c8","name":"","topic":"","payloadTimerStart":"","payloadTimerStartType":"nul","payloadTimerStop":false,"payloadTimerStopType":"date","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":true,"x":1750,"y":1900,"wires":[["7ded56e.64de9a8","9189d2e0.bc4ff"],["bf7ce878.9e3c68"]]},{"id":"4c824e2d.8c8fc","type":"countdown","z":"91c43a3c.eaf8c8","name":"","topic":"","payloadTimerStart":"","payloadTimerStartType":"nul","payloadTimerStop":false,"payloadTimerStopType":"date","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":true,"x":1750,"y":2140,"wires":[["7a0e34c6.f0a06c","75c667d0.1f6868"],["aadb8684.1b3388"]]},{"id":"8e41aa24.41f608","type":"countdown","z":"91c43a3c.eaf8c8","name":"60 Seconds","topic":"","payloadTimerStart":"","payloadTimerStartType":"nul","payloadTimerStop":false,"payloadTimerStopType":"date","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":false,"x":1750,"y":2060,"wires":[["75c667d0.1f6868","7a0e34c6.f0a06c"],[]]},{"id":"2bc9f6da.32199a","type":"countdown","z":"91c43a3c.eaf8c8","name":"60 Seconds","topic":"","payloadTimerStart":"","payloadTimerStartType":"nul","payloadTimerStop":false,"payloadTimerStopType":"date","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":false,"x":1750,"y":1820,"wires":[["7ded56e.64de9a8","9189d2e0.bc4ff"],[]]},{"id":"94beabf3.734048","type":"countdown","z":"91c43a3c.eaf8c8","name":"60 Seconds","topic":"","payloadTimerStart":"","payloadTimerStartType":"nul","payloadTimerStop":false,"payloadTimerStopType":"date","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":false,"x":1750,"y":1580,"wires":[["1ee5ba65.be06b6","b9bc6baf.c770a8"],[]]},{"id":"53cd832.91e787c","type":"countdown","z":"91c43a3c.eaf8c8","name":"60 Seconds","topic":"","payloadTimerStart":"","payloadTimerStartType":"nul","payloadTimerStop":false,"payloadTimerStopType":"date","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":false,"x":1750,"y":1340,"wires":[["af8d6906.7849a8","c4190520.ff1478"],[]]},{"id":"cfbdee63.1ed95","type":"countdown","z":"91c43a3c.eaf8c8","name":"60 Seconds","topic":"","payloadTimerStart":"","payloadTimerStartType":"nul","payloadTimerStop":false,"payloadTimerStopType":"date","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":false,"x":1750,"y":1100,"wires":[["af9827d4.975ad8","9ea84347.f8b1f"],[]]},{"id":"d8036f9d.b01bf","type":"countdown","z":"91c43a3c.eaf8c8","name":"60 Seconds","topic":"","payloadTimerStart":"","payloadTimerStartType":"nul","payloadTimerStop":false,"payloadTimerStopType":"date","timer":"60","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":true,"minuteCounter":false,"x":1750,"y":860,"wires":[["6f353327.3e874c","4407356a.9173ec"],[]]},{"id":"b5bc8ffe.8511","type":"change","z":"91c43a3c.eaf8c8","name":"Stopped","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":700,"wires":[["e5cfa3db.24506","83fe194b.0a36e8"]]},{"id":"4e65dd3b.333f14","type":"ha-entity","z":"91c43a3c.eaf8c8","name":"Irrigation Zone Running","server":"613f67e5.e69a28","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Node-RED Irrigation Zone Running"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:run"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1230,"y":780,"wires":[[]]},{"id":"260ee1fb.7c393e","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Check Time Selected","server":"613f67e5.e69a28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.irrigation_program_runtime","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":940,"y":900,"wires":[["87cd133b.f3657","336cac75.0e80a4","94550854.4b2668"]]},{"id":"87cd133b.f3657","type":"ha-entity","z":"91c43a3c.eaf8c8","name":"Irrigation Zone 1 Run Time","server":"613f67e5.e69a28","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Node-RED Irrigation Zone 1 Run Time"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:timer"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1240,"y":1020,"wires":[[]]},{"id":"826d6948.de0038","type":"change","z":"91c43a3c.eaf8c8","name":"Zone 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"Zone 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":820,"wires":[["4e65dd3b.333f14"]]},{"id":"8bac1636.9df188","type":"change","z":"91c43a3c.eaf8c8","name":"waiting","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1100,"wires":[["485d18e.577a2e8","1407d43.ae9102c"]]},{"id":"d4e60d88.88c9","type":"ha-wait-until","z":"91c43a3c.eaf8c8","name":"Zone 2 Started","server":"613f67e5.e69a28","outputs":1,"entityId":"binary_sensor.zone_2_watering","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":680,"y":1140,"wires":[["6a4733d2.09318c"]]},{"id":"b7f02028.b734d","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn on Zone 3","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.irrigation_zone3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":1380,"wires":[["5e57b1d6.becaf","1050e7d.ed17818"]]},{"id":"e67ddd21.f44e2","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 4","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":1620,"wires":[["c4f44804.0bf4d8"],["5ddaa905.586488"]]},{"id":"7b36f7df.02c2f8","type":"link in","z":"91c43a3c.eaf8c8","name":"","links":["dd086418.a06118"],"x":75,"y":1340,"wires":[["f3a0df28.df58a"]]},{"id":"3b239f0a.91131","type":"link in","z":"91c43a3c.eaf8c8","name":"","links":["133bca0a.81f406","783691fb.09d27","feec7034.d8214"],"x":635,"y":840,"wires":[["e5cfa3db.24506"]]},{"id":"8ae03ef3.0f09c","type":"change","z":"91c43a3c.eaf8c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":940,"wires":[["51ddf8df.b58958"]]},{"id":"6f353327.3e874c","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1960,"y":900,"wires":[["a1144ae5.a68ee8","99ae30da.a9551","e25dc514.35e1c8"]]},{"id":"4407356a.9173ec","type":"change","z":"91c43a3c.eaf8c8","name":"stopped","rules":[{"t":"set","p":"payload","pt":"msg","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":1000,"wires":[["2413a1cc.cc6a5e"]]},{"id":"58d3ae1a.5d909","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1950,"y":1040,"wires":[["87cd133b.f3657"]]},{"id":"1a0f05f.894a3fa","type":"change","z":"91c43a3c.eaf8c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1180,"wires":[["c4a96fe.fc40c9"]]},{"id":"af9827d4.975ad8","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1960,"y":1140,"wires":[["b952ccc2.25394","8e0bb0ed.027cf","4f713a2f.a3df34"]]},{"id":"9ea84347.f8b1f","type":"change","z":"91c43a3c.eaf8c8","name":"stopped","rules":[{"t":"set","p":"payload","pt":"msg","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":1240,"wires":[["914bae35.b478"]]},{"id":"c7aa68c.8a52998","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1950,"y":1280,"wires":[["485d18e.577a2e8"]]},{"id":"e428a0ae.f9ee4","type":"change","z":"91c43a3c.eaf8c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1420,"wires":[["c7533e38.11d7c"]]},{"id":"af8d6906.7849a8","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1960,"y":1380,"wires":[["89b3f717.892d28","b7b043dd.b20e5","c64656d7.0fb878"]]},{"id":"c4190520.ff1478","type":"change","z":"91c43a3c.eaf8c8","name":"stopped","rules":[{"t":"set","p":"payload","pt":"msg","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":1480,"wires":[["8811891f.ef2668"]]},{"id":"d71669b0.1d47b8","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1950,"y":1520,"wires":[["9f30116d.2c444"]]},{"id":"2400fc00.6105a4","type":"change","z":"91c43a3c.eaf8c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1660,"wires":[["1c729017.7685b"]]},{"id":"1ee5ba65.be06b6","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1960,"y":1620,"wires":[["6a097103.7388e","1957f884.2fb8d7","21eda152.93245e"]]},{"id":"b9bc6baf.c770a8","type":"change","z":"91c43a3c.eaf8c8","name":"stopped","rules":[{"t":"set","p":"payload","pt":"msg","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":1720,"wires":[["8b02cc.a3d64d38"]]},{"id":"54441cc3.d6c404","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1950,"y":1760,"wires":[["871af239.d7e35"]]},{"id":"3397eeca.02be12","type":"change","z":"91c43a3c.eaf8c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1900,"wires":[["39828352.fe340c"]]},{"id":"7ded56e.64de9a8","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1960,"y":1860,"wires":[["4f3d5829.8fb978","b1a97945.83ca48","b1f910ac.f330d"]]},{"id":"9189d2e0.bc4ff","type":"change","z":"91c43a3c.eaf8c8","name":"stopped","rules":[{"t":"set","p":"payload","pt":"msg","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":1940,"wires":[["18ea3feb.3a9a1"]]},{"id":"bf7ce878.9e3c68","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1950,"y":1980,"wires":[["2b33ec67.06d214"]]},{"id":"7a0e34c6.f0a06c","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1960,"y":2100,"wires":[["8c431297.e9df5","3be9e189.63211e","eff0f0ff.d8215"]]},{"id":"75c667d0.1f6868","type":"change","z":"91c43a3c.eaf8c8","name":"stopped","rules":[{"t":"set","p":"payload","pt":"msg","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":2180,"wires":[["c64b01bc.8e165"]]},{"id":"aadb8684.1b3388","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1950,"y":2220,"wires":[["652b0772.471e78"]]},{"id":"9421718a.c0bc3","type":"change","z":"91c43a3c.eaf8c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":2140,"wires":[["4c824e2d.8c8fc"]]},{"id":"df92b236.ba31a","type":"change","z":"91c43a3c.eaf8c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":2060,"wires":[["8e41aa24.41f608"]]},{"id":"27368bab.1fa8d4","type":"change","z":"91c43a3c.eaf8c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1820,"wires":[["2bc9f6da.32199a"]]},{"id":"c6eb7e37.24355","type":"change","z":"91c43a3c.eaf8c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1580,"wires":[["94beabf3.734048"]]},{"id":"245fc010.3f454","type":"change","z":"91c43a3c.eaf8c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1340,"wires":[["53cd832.91e787c"]]},{"id":"65b9849d.91115c","type":"change","z":"91c43a3c.eaf8c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1100,"wires":[["cfbdee63.1ed95"]]},{"id":"aa08d23c.70bca","type":"change","z":"91c43a3c.eaf8c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":860,"wires":[["d8036f9d.b01bf"]]},{"id":"83fe194b.0a36e8","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Program on start?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"Start","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.irrigation_program","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":700,"wires":[["d331fa84.b85808"],[]]},{"id":"cd7cd1d9.9170b","type":"link in","z":"91c43a3c.eaf8c8","name":"","links":["5e5d42a1.faa15c","a61e64db.30c518","82e115f.d888be8","8c59f60f.95d128","54903ab7.5ad5e4","dffcaa18.a87338"],"x":935,"y":780,"wires":[["4e65dd3b.333f14"]]},{"id":"336cac75.0e80a4","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":940,"wires":[["8ae03ef3.0f09c"]]},{"id":"94550854.4b2668","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":860,"wires":[["2050e2d8.ecf54e"]]},{"id":"2413a1cc.cc6a5e","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2110,"y":1000,"wires":[["87cd133b.f3657"]]},{"id":"485d18e.577a2e8","type":"ha-entity","z":"91c43a3c.eaf8c8","name":"Irrigation Zone 2 Run Time","server":"613f67e5.e69a28","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Node-RED Irrigation Zone 2 Run Time"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:timer"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1240,"y":1260,"wires":[[]]},{"id":"1407d43.ae9102c","type":"change","z":"91c43a3c.eaf8c8","name":"Zone 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"Zone 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1060,"wires":[["a61e64db.30c518"]]},{"id":"6a4733d2.09318c","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Check Time Selected","server":"613f67e5.e69a28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.irrigation_program_runtime","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":940,"y":1140,"wires":[["485d18e.577a2e8","d9e3877d.330418","58bc1bda.346894"]]},{"id":"5e57b1d6.becaf","type":"ha-wait-until","z":"91c43a3c.eaf8c8","name":"Zone 3 Started","server":"613f67e5.e69a28","outputs":1,"entityId":"binary_sensor.zone_3_watering","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":680,"y":1380,"wires":[["af20386d.624588"]]},{"id":"1050e7d.ed17818","type":"change","z":"91c43a3c.eaf8c8","name":"waiting","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1340,"wires":[["9f30116d.2c444","b1c0b371.abf7"]]},{"id":"c4f44804.0bf4d8","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn on Zone 4","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.irrigation_zone4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":1620,"wires":[["37942fdf.e0753","6dc1339e.1c373c"]]},{"id":"5ddaa905.586488","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 5","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":1860,"wires":[["9e8a1964.c34cd8"],["86fb69d.c83ec98"]]},{"id":"f02a4a34.a1af58","type":"link in","z":"91c43a3c.eaf8c8","name":"","links":["942fb779.1da708"],"x":75,"y":1580,"wires":[["e67ddd21.f44e2"]]},{"id":"a1144ae5.a68ee8","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 2","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2420,"y":960,"wires":[["7f149de0.77edf4"],["590ffb7.f86e904"]]},{"id":"99ae30da.a9551","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Zone 1 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_zone1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2390,"y":900,"wires":[["fb7157f2.343e78"],[]]},{"id":"e25dc514.35e1c8","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 1 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2440,"y":840,"wires":[["804b17bd.056688"],[]]},{"id":"d9e3877d.330418","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":1180,"wires":[["1a0f05f.894a3fa"]]},{"id":"b952ccc2.25394","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 1","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2420,"y":1200,"wires":[["dd086418.a06118"],["931d932e.f6b3e"]]},{"id":"8e0bb0ed.027cf","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Zone 2 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_zone2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2390,"y":1140,"wires":[["ca0d5564.027a68"],[]]},{"id":"4f713a2f.a3df34","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 2 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2440,"y":1080,"wires":[["67dbcc11.585d84"],[]]},{"id":"914bae35.b478","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2110,"y":1240,"wires":[["485d18e.577a2e8"]]},{"id":"d0afd933.f25488","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":1420,"wires":[["e428a0ae.f9ee4"]]},{"id":"89b3f717.892d28","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Zone 3 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_zone3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2390,"y":1380,"wires":[["578d8b1a.1ba794"],[]]},{"id":"b7b043dd.b20e5","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 1","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2420,"y":1440,"wires":[["942fb779.1da708"],["63f90fa1.764fb"]]},{"id":"c64656d7.0fb878","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 3 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2440,"y":1320,"wires":[["9bc58af9.0e7f78"],[]]},{"id":"8811891f.ef2668","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2110,"y":1480,"wires":[["9f30116d.2c444"]]},{"id":"9f30116d.2c444","type":"ha-entity","z":"91c43a3c.eaf8c8","name":"Irrigation Zone 3 Run Time","server":"613f67e5.e69a28","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Node-RED Irrigation Zone 3 Run Time"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:timer"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1240,"y":1500,"wires":[[]]},{"id":"fe846192.e4bc9","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":1660,"wires":[["2400fc00.6105a4"]]},{"id":"6a097103.7388e","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Zone 4 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_zone4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2390,"y":1620,"wires":[["caf75831.6b28e8"],[]]},{"id":"1957f884.2fb8d7","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 1","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2420,"y":1680,"wires":[["35303305.4436ac"],["ba7188c3.ea69f8"]]},{"id":"21eda152.93245e","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 4 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2440,"y":1560,"wires":[["1625c7d5.61d858"],[]]},{"id":"8b02cc.a3d64d38","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2110,"y":1720,"wires":[["871af239.d7e35"]]},{"id":"871af239.d7e35","type":"ha-entity","z":"91c43a3c.eaf8c8","name":"Irrigation Zone 4 Run Time","server":"613f67e5.e69a28","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Node-RED Irrigation Zone 4 Run Time"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:timer"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1240,"y":1740,"wires":[[]]},{"id":"446983d3.edb55c","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":1900,"wires":[["3397eeca.02be12"]]},{"id":"4f3d5829.8fb978","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Zone 5 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_zone5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2390,"y":1860,"wires":[["74965c83.346b44"],[]]},{"id":"b1a97945.83ca48","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 1","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2420,"y":1920,"wires":[["a1bc8f7d.94515"],["6fd7f5e7.8f958c"]]},{"id":"b1f910ac.f330d","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 5 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2440,"y":1800,"wires":[["fe75d8e7.2d3098"],[]]},{"id":"18ea3feb.3a9a1","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2110,"y":1940,"wires":[["2b33ec67.06d214"]]},{"id":"2b33ec67.06d214","type":"ha-entity","z":"91c43a3c.eaf8c8","name":"Irrigation Zone 5 Run Time","server":"613f67e5.e69a28","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Node-RED Irrigation Zone 5 Run Time"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:timer"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1240,"y":1960,"wires":[[]]},{"id":"8c431297.e9df5","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Zone 6 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.irrigation_zone6","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2390,"y":2100,"wires":[["ed9d2997.655328"],[]]},{"id":"3be9e189.63211e","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 1","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2420,"y":2160,"wires":[["e6f7acda.d2aee"],["4b12b17.413bd5"]]},{"id":"eff0f0ff.d8215","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 6 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone6","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2440,"y":2040,"wires":[["7f0a352f.35b1dc"],[]]},{"id":"c64b01bc.8e165","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2110,"y":2180,"wires":[["652b0772.471e78"]]},{"id":"652b0772.471e78","type":"ha-entity","z":"91c43a3c.eaf8c8","name":"Irrigation Zone 6 Run Time","server":"613f67e5.e69a28","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Node-RED Irrigation Zone 6 Run Time"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:timer"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1240,"y":2200,"wires":[[]]},{"id":"6b1bb020.812bd","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":2140,"wires":[["9421718a.c0bc3"]]},{"id":"a93a2a7d.a94c58","type":"change","z":"91c43a3c.eaf8c8","name":"60","rules":[{"t":"set","p":"payload","pt":"msg","to":"60","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":2060,"wires":[["df92b236.ba31a"]]},{"id":"4a0be9b4.6e3848","type":"change","z":"91c43a3c.eaf8c8","name":"60","rules":[{"t":"set","p":"payload","pt":"msg","to":"60","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":1820,"wires":[["27368bab.1fa8d4"]]},{"id":"61ea9292.de93cc","type":"change","z":"91c43a3c.eaf8c8","name":"60","rules":[{"t":"set","p":"payload","pt":"msg","to":"60","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":1580,"wires":[["c6eb7e37.24355"]]},{"id":"69d3b44e.3c25cc","type":"change","z":"91c43a3c.eaf8c8","name":"60","rules":[{"t":"set","p":"payload","pt":"msg","to":"60","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":1340,"wires":[["245fc010.3f454"]]},{"id":"737eefc9.8b24d","type":"change","z":"91c43a3c.eaf8c8","name":"60","rules":[{"t":"set","p":"payload","pt":"msg","to":"60","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":1100,"wires":[["65b9849d.91115c"]]},{"id":"2050e2d8.ecf54e","type":"change","z":"91c43a3c.eaf8c8","name":"60","rules":[{"t":"set","p":"payload","pt":"msg","to":"60","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":860,"wires":[["aa08d23c.70bca"]]},{"id":"d331fa84.b85808","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Change Input Select (Stop)","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.irrigation_program","data":"{\"entity_id\":\"input_select.irrigation_program\",\"option\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":700,"wires":[[]]},{"id":"a61e64db.30c518","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["cd7cd1d9.9170b"],"x":1075,"y":1060,"wires":[]},{"id":"58bc1bda.346894","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":1100,"wires":[["737eefc9.8b24d"]]},{"id":"af20386d.624588","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Check Time Selected","server":"613f67e5.e69a28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.irrigation_program_runtime","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":940,"y":1380,"wires":[["9f30116d.2c444","d0afd933.f25488","4a3db728.f03828"]]},{"id":"b1c0b371.abf7","type":"change","z":"91c43a3c.eaf8c8","name":"Zone 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"Zone 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1300,"wires":[["82e115f.d888be8"]]},{"id":"37942fdf.e0753","type":"ha-wait-until","z":"91c43a3c.eaf8c8","name":"Zone 4 Started","server":"613f67e5.e69a28","outputs":1,"entityId":"binary_sensor.zone_4_watering","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":680,"y":1620,"wires":[["130169ad.b8ffa6"]]},{"id":"6dc1339e.1c373c","type":"change","z":"91c43a3c.eaf8c8","name":"waiting","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1580,"wires":[["871af239.d7e35","839e786c.1be258"]]},{"id":"9e8a1964.c34cd8","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn on Zone 5","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.irrigation_zone5","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":1860,"wires":[["c9baaa26.733468","a2f0b99c.c67348"]]},{"id":"86fb69d.c83ec98","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 6","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone6","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":2100,"wires":[["3003fca6.b83244"],["271deafa.8a9556"]]},{"id":"970f1d60.8c347","type":"link in","z":"91c43a3c.eaf8c8","name":"","links":["35303305.4436ac"],"x":75,"y":1820,"wires":[["5ddaa905.586488"]]},{"id":"7f149de0.77edf4","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["3d5636cf.c1784a"],"x":3575,"y":1080,"wires":[]},{"id":"590ffb7.f86e904","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 3","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2660,"y":960,"wires":[["7f149de0.77edf4"],["5fee3a0d.a22b64"]]},{"id":"fb7157f2.343e78","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Zone 1","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_zone1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2620,"y":900,"wires":[[]]},{"id":"804b17bd.056688","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Input Boolean Zone 1","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.irrigation_program_zone1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2770,"y":840,"wires":[[]]},{"id":"dd086418.a06118","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["7b36f7df.02c2f8"],"x":3575,"y":1320,"wires":[]},{"id":"931d932e.f6b3e","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 3","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2660,"y":1200,"wires":[["dd086418.a06118"],["d08751fc.74fa5"]]},{"id":"ca0d5564.027a68","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Zone 2","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_zone2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2620,"y":1140,"wires":[[]]},{"id":"67dbcc11.585d84","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Input Boolean Zone 2","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.irrigation_program_zone2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2770,"y":1080,"wires":[[]]},{"id":"578d8b1a.1ba794","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Zone 3","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_zone3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2620,"y":1380,"wires":[[]]},{"id":"942fb779.1da708","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["f02a4a34.a1af58"],"x":3575,"y":1560,"wires":[]},{"id":"63f90fa1.764fb","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 2","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2660,"y":1440,"wires":[["942fb779.1da708"],["146ce6f.2ba3a19"]]},{"id":"9bc58af9.0e7f78","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Input Boolean Zone 3","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.irrigation_program_zone3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2770,"y":1320,"wires":[[]]},{"id":"130169ad.b8ffa6","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Check Time Selected","server":"613f67e5.e69a28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.irrigation_program_runtime","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":940,"y":1620,"wires":[["871af239.d7e35","fe846192.e4bc9","bc741220.3c633"]]},{"id":"caf75831.6b28e8","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Zone 4","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_zone4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2620,"y":1620,"wires":[[]]},{"id":"35303305.4436ac","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["970f1d60.8c347"],"x":3575,"y":1800,"wires":[]},{"id":"ba7188c3.ea69f8","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 2","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2660,"y":1680,"wires":[["35303305.4436ac"],["e282d479.bedd18"]]},{"id":"1625c7d5.61d858","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Input Boolean Zone 4","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.irrigation_program_zone4","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2770,"y":1560,"wires":[[]]},{"id":"4a39a5ec.e71acc","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Check Time Selected","server":"613f67e5.e69a28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.irrigation_program_runtime","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":940,"y":1860,"wires":[["2b33ec67.06d214","446983d3.edb55c","b81e74b1.974df8"]]},{"id":"74965c83.346b44","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Zone 5","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_zone5","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2620,"y":1860,"wires":[[]]},{"id":"a1bc8f7d.94515","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["7cf601c0.2689c"],"x":3575,"y":2040,"wires":[]},{"id":"6fd7f5e7.8f958c","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 2","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2660,"y":1920,"wires":[["a1bc8f7d.94515"],["7ce43cc6.0d4f44"]]},{"id":"fe75d8e7.2d3098","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Input Boolean Zone 5","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.irrigation_program_zone5","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2770,"y":1800,"wires":[[]]},{"id":"a2f0b99c.c67348","type":"change","z":"91c43a3c.eaf8c8","name":"waiting","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1820,"wires":[["2b33ec67.06d214","8728cea0.c6a7"]]},{"id":"ed9d2997.655328","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Zone 6","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.irrigation_zone6","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2620,"y":2100,"wires":[[]]},{"id":"e6f7acda.d2aee","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["52e0ef0d.a282e"],"x":3575,"y":2280,"wires":[]},{"id":"4b12b17.413bd5","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 2","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2660,"y":2160,"wires":[["e6f7acda.d2aee"],["73382726.206c58"]]},{"id":"7f0a352f.35b1dc","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn off Input Boolean Zone 6","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.irrigation_program_zone6","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2770,"y":2040,"wires":[[]]},{"id":"f82d8d42.32ad8","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Check Time Selected","server":"613f67e5.e69a28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.irrigation_program_runtime","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":940,"y":2100,"wires":[["652b0772.471e78","6b1bb020.812bd","7c3ed4bf.da7eac"]]},{"id":"a687d8d3.c5e2e8","type":"change","z":"91c43a3c.eaf8c8","name":"waiting","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2060,"wires":[["652b0772.471e78","265d74fd.ec1abc"]]},{"id":"7c3ed4bf.da7eac","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":2060,"wires":[["a93a2a7d.a94c58"]]},{"id":"b81e74b1.974df8","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":1820,"wires":[["4a0be9b4.6e3848"]]},{"id":"bc741220.3c633","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":1580,"wires":[["61ea9292.de93cc"]]},{"id":"4a3db728.f03828","type":"switch","z":"91c43a3c.eaf8c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":1340,"wires":[["69d3b44e.3c25cc"]]},{"id":"82e115f.d888be8","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["cd7cd1d9.9170b"],"x":1075,"y":1300,"wires":[]},{"id":"839e786c.1be258","type":"change","z":"91c43a3c.eaf8c8","name":"Zone 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"Zone 4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1540,"wires":[["8c59f60f.95d128"]]},{"id":"c9baaa26.733468","type":"ha-wait-until","z":"91c43a3c.eaf8c8","name":"Zone 5 Started","server":"613f67e5.e69a28","outputs":1,"entityId":"binary_sensor.zone_5_watering","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":680,"y":1860,"wires":[["4a39a5ec.e71acc"]]},{"id":"3003fca6.b83244","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Turn on Zone 6","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.irrigation_zone6","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":2100,"wires":[["14029824.31dca8","a687d8d3.c5e2e8"]]},{"id":"271deafa.8a9556","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 1 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":2220,"wires":[["b8bff2c4.a94fe"],["12c9bd0.87ca943"]]},{"id":"7cf601c0.2689c","type":"link in","z":"91c43a3c.eaf8c8","name":"","links":["a1bc8f7d.94515"],"x":75,"y":2060,"wires":[["86fb69d.c83ec98"]]},{"id":"5fee3a0d.a22b64","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 4","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2900,"y":960,"wires":[["7f149de0.77edf4"],["524cf811.11d408"]]},{"id":"524cf811.11d408","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 5","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3140,"y":960,"wires":[["7f149de0.77edf4"],["dbcff1ac.fe9af"]]},{"id":"dbcff1ac.fe9af","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 6","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone6","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3380,"y":960,"wires":[["7f149de0.77edf4"],["e7f13a4d.8c1bc8"]]},{"id":"d08751fc.74fa5","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 4","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2900,"y":1200,"wires":[["dd086418.a06118"],["3029edb0.1fc972"]]},{"id":"3029edb0.1fc972","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 5","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3140,"y":1200,"wires":[["dd086418.a06118"],["82118ac5.fc7c08"]]},{"id":"82118ac5.fc7c08","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 6","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone6","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3380,"y":1200,"wires":[["dd086418.a06118"],["5a9a6bc2.e483d4"]]},{"id":"146ce6f.2ba3a19","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 4","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2900,"y":1440,"wires":[["942fb779.1da708"],["7446d3e5.407fbc"]]},{"id":"7446d3e5.407fbc","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 5","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3140,"y":1440,"wires":[["942fb779.1da708"],["b759c244.7b99f"]]},{"id":"b759c244.7b99f","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 6","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone6","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3380,"y":1440,"wires":[["942fb779.1da708"],["97a4c15c.c31ec"]]},{"id":"e430d593.6d5ba8","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 5","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3140,"y":1680,"wires":[["35303305.4436ac"],["e10622c4.77c8e"]]},{"id":"e10622c4.77c8e","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 6","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone6","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3380,"y":1680,"wires":[["35303305.4436ac"],["4f381ee1.20452"]]},{"id":"e282d479.bedd18","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 3","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2900,"y":1680,"wires":[["35303305.4436ac"],["e430d593.6d5ba8"]]},{"id":"eacbe4a3.f33988","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 6","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone6","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3380,"y":1920,"wires":[["a1bc8f7d.94515"],["de136213.99ac2"]]},{"id":"7ce43cc6.0d4f44","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 3","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2900,"y":1920,"wires":[["a1bc8f7d.94515"],["6b9fef81.edb9b"]]},{"id":"6b9fef81.edb9b","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 4","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3140,"y":1920,"wires":[["a1bc8f7d.94515"],["eacbe4a3.f33988"]]},{"id":"8728cea0.c6a7","type":"change","z":"91c43a3c.eaf8c8","name":"Zone 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"Zone 5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1780,"wires":[["54903ab7.5ad5e4"]]},{"id":"73382726.206c58","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 3","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2900,"y":2160,"wires":[["e6f7acda.d2aee"],["ebbea0b6.ff91d"]]},{"id":"ebbea0b6.ff91d","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 4","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3140,"y":2160,"wires":[["e6f7acda.d2aee"],["24bb1db.864fce2"]]},{"id":"24bb1db.864fce2","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 5","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3380,"y":2160,"wires":[["e6f7acda.d2aee"],["cf7df685.acb6c8"]]},{"id":"14029824.31dca8","type":"ha-wait-until","z":"91c43a3c.eaf8c8","name":"Zone 6 Started","server":"613f67e5.e69a28","outputs":1,"entityId":"binary_sensor.zone_6_watering","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":680,"y":2100,"wires":[["f82d8d42.32ad8"]]},{"id":"265d74fd.ec1abc","type":"change","z":"91c43a3c.eaf8c8","name":"Zone 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"Zone 6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2020,"wires":[["dffcaa18.a87338"]]},{"id":"8c59f60f.95d128","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["cd7cd1d9.9170b"],"x":1075,"y":1540,"wires":[]},{"id":"b8bff2c4.a94fe","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["52e0ef0d.a282e"],"x":475,"y":2220,"wires":[]},{"id":"12c9bd0.87ca943","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 2 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":2280,"wires":[["b8bff2c4.a94fe"],["4ba918db.e54cc8"]]},{"id":"e7f13a4d.8c1bc8","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3620,"y":960,"wires":[["3c212fac.a83c6"]]},{"id":"5a9a6bc2.e483d4","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3620,"y":1200,"wires":[["3c212fac.a83c6"]]},{"id":"97a4c15c.c31ec","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3620,"y":1440,"wires":[["3c212fac.a83c6"]]},{"id":"4f381ee1.20452","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3620,"y":1680,"wires":[["3c212fac.a83c6"]]},{"id":"de136213.99ac2","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3620,"y":1920,"wires":[["3c212fac.a83c6"]]},{"id":"54903ab7.5ad5e4","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["cd7cd1d9.9170b"],"x":1075,"y":1780,"wires":[]},{"id":"cf7df685.acb6c8","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3620,"y":2160,"wires":[["3c212fac.a83c6"]]},{"id":"dffcaa18.a87338","type":"link out","z":"91c43a3c.eaf8c8","name":"","links":["cd7cd1d9.9170b"],"x":1075,"y":2020,"wires":[]},{"id":"4ba918db.e54cc8","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 3 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone3","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":2340,"wires":[["b8bff2c4.a94fe"],["c1411517.c82588"]]},{"id":"c1411517.c82588","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 4 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone4","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":2400,"wires":[["b8bff2c4.a94fe"],["553981c0.4e58e"]]},{"id":"553981c0.4e58e","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Input Boolean Zone 5 On?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.irrigation_program_zone5","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":2460,"wires":[["b8bff2c4.a94fe"],["1e666e44.bf6c22"]]},{"id":"3c212fac.a83c6","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Program on start?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"Start","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.irrigation_program","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":3870,"y":960,"wires":[["6db6a06a.1c99a"],[]]},{"id":"1e666e44.bf6c22","type":"delay","z":"91c43a3c.eaf8c8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":2460,"wires":[["debc3a38.9047a8"]]},{"id":"6db6a06a.1c99a","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Change Input Select (Stop)","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.irrigation_program","data":"{\"entity_id\":\"input_select.irrigation_program\",\"option\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":4140,"y":960,"wires":[[]]},{"id":"debc3a38.9047a8","type":"api-current-state","z":"91c43a3c.eaf8c8","name":"Program on start?","server":"613f67e5.e69a28","version":1,"outputs":2,"halt_if":"Start","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.irrigation_program","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":2460,"wires":[["4d3f3d8.0ff57c4"],[]]},{"id":"4d3f3d8.0ff57c4","type":"api-call-service","z":"91c43a3c.eaf8c8","name":"Change Input Select (Stop)","server":"613f67e5.e69a28","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.irrigation_program","data":"{\"entity_id\":\"input_select.irrigation_program\",\"option\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":2460,"wires":[[]]},{"id":"613f67e5.e69a28","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
